body{
    background:black;
}

.padre{
    border: 3px solid red;
    padding: 5px;
    display:flex;
    flex-direction:  column;
    align-items: flex-end;
}



p{
    font-size: 30px;
    text-align: center;
}