body{
    background:black;
}

.padre{
    border: 3px solid red;
    height: 1000px;
    padding: 5px;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}



p{
    font-size: 30px;
    text-align: center;
}